
body{
    background-color: #CAD2C5;
    width:100%;
}


.bg-bd-primary {
    background-color: #2F3D46;
}

.navbar{
    padding: 20px;
}

.git{
    letter-spacing: 0.22rem;
    font-weight: 500;
    font-size:x-large;
   }

   .left_box{
      
       border-radius: 25px;
       padding: 260px 150px;
       background-color: #353535;
       width:80%;
   }


   #search_box{
    background-color: #353535;
         border-radius: 10px;
         font-size: larger;
         font-weight: 500;
         letter-spacing: 0.22rem;
          padding-top: 10px;
         padding-bottom: 10px;
         color: #CAD2C5;
         width:70%;
  }

   .box{
       padding-top: 60px;
       padding-bottom: 80px;
       padding-left: 90px;
       padding-right: 120px;
       border-radius: 15px;
       background-color: #353535;
      
   }



   .last-box{
    background-color: #353535;
    border-radius: 20px;
    padding-top:90px;
    padding-bottom: 80px;
    width:90%;
}